<a href="https://colab.research.google.com/github/salonijaitly/AI_Sem_V/blob/master/CW/CW_J070_110720.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
a=5
a='five'

**Parenthesis is essential**

In [6]:
print 5

SyntaxError: ignored

In [7]:
print(5)

5

**Indentation error can be fixed by adding right tabs**

In [8]:
 a=5
b=6
c=3

In [9]:
if b>0 :
print('a')

IndentationError: ignored

In [10]:
if b>0 :
  print('a')

a

**Globally declared parameters are used**

In [11]:
def printer():
    print(a+b)
def sum(a,b):
    return a+b

In [12]:
printer()

11

**Removing the variable using 'del'**

In [13]:
sum(a,c)

8

In [14]:
del b

**Single equal sign (=) is for assigning**

In [15]:
a=c

In [16]:
a

3

**Double equal(==) operator for checking**

In [17]:
a==c

True

 **Binary to integer conversion,
typecasting is changing a data type to another**

In [24]:
int('111',3)

13

In [22]:
float(int('111',3))

13.0

In [26]:
str(float(int('111',3)))

'13.0'

**When abruptly ending line- EOL error**

In [27]:
def sum():
  a='ajksnkncmxm vjzmlcri
     deijiomc'

SyntaxError: ignored

In [30]:
a=6
a_=4 #for using reserve keywors
__a__=9
_a=9 #variable is intended for internal use
__a=91

**'class' is a reserve word**

In [31]:
def make_a(a,class):

SyntaxError: ignored

In [80]:
def make_a(a,class_):
    return a

In [ ]:
#public and private variable
class human:
  """Members of a class"""
    # attribute - variables
    # method/behaviour - function

**Class Manging**

In [81]:
class student:
  #_name = self._name
  def __init__(self, name):
    self.name = name
  def displayName(self):
    print(self.name)

##Class vs Object
s1 = student('Santosh')
s1.displayName()

#Raise an error
print(s1.name)

Santosh
Santosh

In [82]:
class stud(student):
  def __init__(self, a, name):
    self.a = a
    student.__init__(student, name) 

s2 = stud('new', 'name')
print(s2.name)
print(s2.a)

name
new

In [76]:
print(s1.name)

Santosh

In [48]:
dir(s1)

['_Student__name',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'a',
 'displayName']

**Working with Pandas**

In [57]:
import pandas as pd

In [58]:
lis=['a','b','c']
pd.DataFrame(columns=lis)

Empty DataFrame
Columns: [a, b, c]
Index: []

In [61]:
a=pd.read_csv('/content/sample_data/california_housing_train.csv')

In [62]:
a

       longitude  latitude  ...  median_income  median_house_value
0        -114.31     34.19  ...         1.4936             66900.0
1        -114.47     34.40  ...         1.8200             80100.0
2        -114.56     33.69  ...         1.6509             85700.0
3        -114.57     33.64  ...         3.1917             73400.0
4        -114.57     33.57  ...         1.9250             65500.0
...          ...       ...  ...            ...                 ...
16995    -124.26     40.58  ...         2.3571            111400.0
16996    -124.27     40.69  ...         2.5179             79000.0
16997    -124.30     41.84  ...         3.0313            103600.0
16998    -124.30     41.80  ...         1.9797             85800.0
16999    -124.35     40.54  ...         3.0147             94600.0

[17000 rows x 9 columns]